<a href="https://colab.research.google.com/github/MidhunMallela/skills-communicate-using-markdown/blob/main/Classroom_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Create a list of monthly expenses
monthly_expenses = ['electricity', 123, 'room rent', 34, 'utilities', 234]
#Print the list
print(monthly_expenses)

['electricity', 123, 'room rent', 34, 'utilities', 234]

In [7]:
#Create a list of mixed data
mixed_list = [123, 1.245, 'midhun', True]
#Print the mixed_data list
print(mixed_list)

[123, 1.245, 'midhun', True]

In [28]:
#Create a list of lists
Student_records = [['Alice', 18, [85, 92, 78]], ['Charlie', 20, [78,85,92]]]
#Print Student_records
print(Student_records[1])
#print the inner list
print(Student_records[1][0])
#print the individual elements in individual lists
print(Student_records[0][2][1])

['Charlie', 20, [78, 85, 92]]
Charlie
92

In [20]:
#Subsetting and Slicing Lists
my_numbers = [10,20,30,40,50,60]
#print third number in list
print(my_numbers[2])
#slicing the lists to get 2nd to 5th numbers
print(my_numbers[1:5])
#slice the list to get alternate number starting from the first
#(alternate method to print alternate numbers) alternate_numbers = my_numbers[::2]
#print(alternate_numbers[::2])
print(my_numbers[1::2])

30
[20, 30, 40, 50]
[10, 30, 50]
[20, 40, 60]

In [24]:
#Replace, extend and delete list elements
fruits = ['apple', 'banana', 'cherry', 'date']
#Replacing cherry with grape
replace = fruits
replace[2] = 'grape'
#printing replaced list
print(fruits)
#adding extra elements to list
fruits += ['kiwi', 'mango']
print(fruits)
#Deleting elements in list
del fruits[1]
#printing deleted fruits
print(fruits)

['apple', 'banana', 'grape', 'date']
['apple', 'banana', 'grape', 'date', 'kiwi', 'mango']
['apple', 'grape', 'date', 'kiwi', 'mango']

In [26]:
#Understanding list indexing
#creating sampling list
sample_list = ['cricket', 'football', 'hockey', 23456, 'badminton', 4.879]
#printing last element using negative index
print(sample_list[-1])
#creating a copy_list to sample_list we can use any of it
#copy_list = list(sample_list)
copy_list = sample_list[:]
copy_list[2] = 90
print(sample_list)
print(copy_list)

4.879
['cricket', 'football', 'hockey', 23456, 'badminton', 4.879]
['cricket', 'football', 90, 23456, 'badminton', 4.879]